@model IEnumerable<ConPersonSkill>
@{
    ViewData["Title"] = "Детали";
}
<h3>@ViewBag.Name</h3>

<div class=col-6>
            <a asp-controller="Person" asp-action="CreateSkillPerson" data-toggle="modal" class="btn btn-primary">
                Добавить новый навык сотруднику
            </a>
        </div>

@if(Model.Count() > 0)
{
    <table class="table table-bordered table-striped " style="width:80%"> 
            <thead>
                <tr>
                    <th>
                        Навык
                    </th>
                    <th>
                        Уровень
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var item in Model)
               {
                    <tr>
                        <td width="40%">@item.Skill.Name</td>
                        <td width="40%">@item.Level</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Person" asp-action="EditSkillPerson" asp-route-id="@item.IdPersonSkill">
                                Редактировать
                                </a>
                            </div>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Person" asp-action="DeleteSkillPerson" asp-route-id="@item.IdPersonSkill">
                                Удалить
                                </a>
                            </div>
                        </td>
                    </tr>    
               }
            </tbody>
    </table>
}
else
{
    <a>У выбранного пользователя нет навыков!</a>
}


